@model PSoC.ManagementService.Models.AdminAccessPointViewModel
@{
    ViewBag.Title = ": Manage Devices";
}
@Styles.Render("~/Content/css/dashboard")
@*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
<form id="deviceStatusForm" method="post" action="javascript:;" accept-charset="utf-8">
    <!-- Main Container Start -->
    <div class="container">
        <!-- Main fluid Container Start -->
        <div class="container-fluid">

            <div class="row">
                @*<div class="dashboard-container">*@
                @*<div class="controls-top">*@

                <div id="DistrictDropdown" class="col-md-2 dropdown-header" style="padding-left:15px">
                    <label id="district_label" class="filter_label">District</label>
                    @if (ViewBag.UserType == "GlobalAdmin")
                    {
                        if (Model != null && Model.DistrictList != null)
                        {
                            <select id="district-multiselect" multiple="multiple">
                                @foreach (var district in Model.DistrictList)
                                {
                                    <option value="@district.Item1">@district.Item2</option>
                                }
                            </select>
                        }
                    }
                    else if (Model != null && Model.DistrictList != null && Model.DistrictList.Count > 0)
                    {
                        @Html.DisplayTextFor(x => x.DistrictList[0].Item2 + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                    }
                    else
                    {
                        @Html.DisplayTextFor(x => string.Empty)
                    }
                </div>

                <div id="SchoolDropdown" class="col-md-2 dropdown-header">
                    <label class="filter_label">School</label>
                    @if (ViewBag.UserType == "GlobalAdmin" || ViewBag.UserType == "DistrictAdmin")
                    {
                        <select id="school-multiselect" multiple="multiple">
                            @if (Model != null && Model.SchoolList != null)
                            {
                                foreach (var school in Model.SchoolList)
                                {
                                    <option value="@school.Item1">@school.Item2</option>
                                }
                            }
                        </select>
                    }
                    else if (Model != null && Model.SchoolList != null && Model.SchoolList.Count > 0)
                    {
                        @Html.DisplayTextFor(x => x.SchoolList[0].Item2)
                    }
                </div>

                <div id="AccessPointDropdown" class="col-md-2 dropdown-header">
                    <label class="filter_label">Access Point</label>
                    @if (Model != null && Model.DistrictList != null)
                    {
                        <select id="accesspoint-multiselect" multiple="multiple">
                            @foreach (var accessPoint in Model.AccessPointList)
                            {
                                <option value="@accessPoint.Item1">@accessPoint.Item2</option>
                            }
                        </select>
                    }
                </div>


                <div class="col-md-6">

                    <div id="white_Bg" style=""></div>

                    <label id="show1">SHOW:</label>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 clearfix">
                    <!-- background --><div class="wrapper_tbl_back"></div>
                    <div class="data" id="dataTable">
                        <table id="statusTable" class="display">
                            <thead>
                                <tr>
                                    <th colspan="3">&nbsp;</th>
                                    <th colspan="4">DEVICE</th>
                                    <th colspan="2">USER</th>
                                    <th colspan="2">&nbsp;</th>
                                    <th colspan="2">WIFI</th>
                                    <th colspan="3">&nbsp;</th>
                                </tr>
                                <tr>
                                    <th>Date Created</th>
                                    <th>District Name</th>
                                    <th>School Name</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>OS Version</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Configured Grades</th>
                                    <th>Location Name</th>
                                    <th>BSSID</th>
                                    <th>SSID</th>
                                    <th>Request Type</th>
                                    <th>Items In Download</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="controls-bottom"><label id="show2">SHOW:</label></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">&nbsp;
                </div>
            </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="expire-dialog" title="Confirmation" style="display:none;">
                                <p>Are you sure you want to expire this License?</p>
                            </div>
                        </div>
                    </div>

                </div><!-- Main fluid Container Start -->
            </div><!-- Main Container End -->
</form>
@section scripts
{
    <script>
        var userType = '@(ViewBag.UserType)';
    </script>
    @Scripts.Render("~/bundles/dashboard")
}
